$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;

/* $color-poms: #53bda7; */
$color-poms: #366F62;
$color-1: #f6af3f;
$color-2: #c13e6f;
$color-3: #53bda7;
$color-4: #3d8bfa;
$color-4-dark: #3271ca;
$color-brand: #fe0000;
$color-agency: #f39131;
$color-speedo-start: #c13e6f;
$color-speedo-end: #3d8bfa;
$color-speedo-back: #bfebe9;
$color-label-dark: #5b6066;
$color-label-light: #929598;
$color-robot-eye-sleep: #112e43;
$color-red: #c13e6f;
$color-red-hover: #e54973;

$color-testimonial-1: #f6af3f;
$color-testimonial-2: #e19e39;
$color-testimonial-3: #bc8430;

$color-team-quote-1: #53bda6;
$color-team-quote-2: #4baa96;
$color-team-quote-3: #3d8e7c;

$color-slider-background: #e8e9ea;
$color-background-1: rgba(246, 246, 248, 0.548);
$color-background-2: rgba(247, 242, 238, 1);
$color-background-gradient-1: linear-gradient(180deg, $color-background-1 0%, $color-background-2 100%);
$color-background-gradient-2: linear-gradient(0deg, $color-background-1 0%, $color-background-2 100%);

$box-shadow-person: 0px 10px 32px 0px rgba(0, 0, 0, 0.45);
$card-border-radius: 20px;
$card-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
$card-brand-logo-height: 48px;

$bubble-size: 128px;
$bubble-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.05);

$testimonial-image-size: 200px;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 48px;
    padding-bottom: 48px;
    padding-top: 64px;
    margin: 0;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    padding-bottom: 48px;
    padding-top: 64px;
    margin: 0;
}

h3 {
    font-weight: 100;
    color: $color-label-light;
    margin: 0;
}

b {
    color: #252b33;
}

.card {
    border: none;
    -webkit-box-shadow: $card-box-shadow;
    -moz-box-shadow: $card-box-shadow;
    box-shadow: $card-box-shadow;
    border-radius: $card-border-radius;
    -webkit-border-radius: $card-border-radius;
    -moz-border-radius: $card-border-radius;
    -ms-border-radius: $card-border-radius;
    -o-border-radius: $card-border-radius;
}

label.label-text {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-label-dark;
    margin-bottom: 8px;
}

.quote-text {
    font-weight: 100;
    font-style: italic;
    font-size: 22px;
    color: $color-label-light;
}

p.paragraph {
    color: $color-label-dark;
    border-left: 4px solid $color-3;
    border-radius: 2px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

hr {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0;

    background: radial-gradient(50% 100% at 50% 0%, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);

    &.hr-green {
        background: radial-gradient(50% 100% at 50% 0%, rgb(59, 122, 108) 0%, rgba(196, 196, 196, 0) 100%);
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 48px;

    li {
        font-weight: 100;
        margin-bottom: 16px;
        color: $color-label-dark;
    }

    .fa {
        margin-right: 8px;
        width: 26px;
        height: 26px;
        padding: 4px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &.color-1 {
            color: $color-1;
            border: 2px solid $color-1;
        }

        &.color-2 {
            color: $color-2;
            border: 2px solid $color-2;
        }

        &.color-3 {
            color: $color-3;
            border: 2px solid $color-3;
        }

        &.color-4 {
            color: $color-4;
            border: 2px solid $color-4;
        }
    }
}

.row {
    margin: 0;
}

.color-white {
    color: #fff;
}

/*
*
*
*   Header section
*
*
*/

#header-section {
    align-items: center;
    align-content: center;
    text-align: center;
    background: $color-background-gradient-2;

    .header-logo {

        img {
            height: 100%;
        }
    }
}

/*
*
*
*   Robot section
*
*
*/

#robot-section {
    background: $color-background-gradient-1;

    .card {
        opacity: 0;
    }
}

.robot-header-text {
    text-align: center;
}

.robot {
    text-align: center;
    min-height: 0;

    @media screen and (max-width: $screen-sm) {
        min-height: 300px;

        .robot-arms#robot-arms-left {
            top: 160px !important;
        }

        .robot-arms#robot-arms-right {
            top: 200px !important;
        }
    }

    @media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
        min-height: 320px;

        .robot-arms#robot-arms-left {
            top: 220px !important;
        }

        .robot-arms#robot-arms-right {
            top: 220px !important;
        }
    }

    @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
        min-height: 480px;
    }

    .robot-floating {
        -webkit-animation: robotFloating 1s infinite alternate;
        animation: robotFloating 1s infinite alternate;

        @media screen and (max-width: $screen-lg) {
            margin-top: 0;
        }
    }

    .robot-arms {
        display: none;
        opacity: 0;
        transition: all 0.5s;

        &#robot-arms-left {
            position: absolute;
            left: -96px;
            top: -128px;
            width: 180%;
            z-index: -1;
            opacity: 1;

            @media screen and (max-width: $screen-lg) {
                top: 260px;
                left: 0px;
                width: 100%;
                -webkit-transform-origin: center;
                transform-origin: center;
                transform: rotate(90deg) translateX(-50%);
                -webkit-transform: rotate(90deg) translateX(-50%);
            }
        }

        &#robot-arms-right {
            position: absolute;
            right: -128px;
            top: -128px;
            width: 180%;
            z-index: -1;
            opacity: 1;

            @media screen and (max-width: $screen-lg) {
                top: 400px;
                left: 0px;
                width: 100%;
                -webkit-transform-origin: center;
                transform-origin: center;
                transform: rotate(90deg) translateX(-50%);
                -webkit-transform: rotate(90deg) translateX(-50%);
            }
        }

        img {
            width: 100%;
        }

    }


}

.robot-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;

    &#robot-sleep-image {
        opacity: 0;
        top: -120px;
    }
}

.robot-sleeping-eye {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 10px;
    z-index: 1000;

    .ellipse {
        position: absolute;
        background: radial-gradient(ellipse, transparent, transparent 7px, white 7px, white 10px, transparent 11px);
        background-size: 12px 10px;
        width: 30px;
        height: 10px;
    }

    .ellipse2 {
        top: 20px;
        left: 18px;
        background-position: 0px -20px;
    }
}

@-webkit-keyframes robotFloating {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes robotFloating {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*
*
*
*   Sliders
*
*
*/

.robot-cards {
    position: relative;

    .margin-left-mobile {
        @media screen and (max-width: $screen-md) {
            margin-left: 32px;
        }
    }

    .label {
        position: absolute;
        font-size: 16px;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;

        &.label-left {
            left: -30px;
            top: 50%;
            transform: translateY(-50%) scale(-1);
            writing-mode: vertical-lr;
            text-orientation: mixed;
            -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: vertical-lr;
            -webkit-transform: translateY(-50%) scale(-1);
            -moz-transform: translateY(-50%) scale(-1);
            -ms-transform: translateY(-50%) scale(-1);
            -o-transform: translateY(-50%) scale(-1);
        }

        &.label-right {
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            writing-mode: vertical-rl;
            text-orientation: mixed;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            max-width: 128px;

            @media screen and (max-width: $screen-lg) {
                left: -30px;
                transform: translateY(-50%) scale(-1);
            }
        }
    }

    .card.card-sliders {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        padding: 24px;

        padding-top: 48px;

        .card-brand-logo {
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            opacity: 0;
            display: flex;
            justify-content: center;

            position: absolute;
            left: $card-border-radius;
            top: -$card-brand-logo-height / 2;
            overflow: hidden;
            width: calc(100% - 36px);
            height: $card-brand-logo-height;
            border-radius: 32px;
            -webkit-border-radius: 32px;
            -moz-border-radius: 32px;
            -ms-border-radius: 32px;
            -o-border-radius: 32px;
            text-align: center;

            .card-brand-logo-image {
                transition: all 0.3s;
                opacity: 0;
                height: 100%;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
            }
        }

        .slider-label {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            color: $color-label-dark;
            margin-bottom: 12px;
        }

        .slider {
            position: relative;
            width: 100%;
            height: 12px;
            background-color: $color-slider-background;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            margin-bottom: 16px;

            .slider-process-container {
                position: absolute;
                left: 0;
                top: 0;
                width: 32%;
                height: 100%;
                border-radius: 6px;
                overflow: hidden;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
                box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);

                .slider-process {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

                    &.slider-color-1 {
                        background-color: $color-1;
                    }

                    &.slider-color-2 {
                        background-color: $color-2;
                    }

                    &.slider-color-3 {
                        background-color: $color-3;
                    }
                }
            }

            .slider-indicator {
                position: absolute;
                left: 32%;
                transform: translateX(-50%);
                top: -6px;
                width: 48px;
                height: 24px;
                color: #fff;
                border-radius: 12px;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                -o-border-radius: 12px;
                text-align: center;
                font-weight: bold;
                font-size: 12px;
                vertical-align: middle;
                line-height: 24px;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);

                &.slider-color-1 {
                    background-color: $color-1;
                }

                &.slider-color-2 {
                    background-color: $color-2;
                }

                &.slider-color-3 {
                    background-color: $color-3;
                }
            }
        }
    }

    /*
*
*
*   Engagement
*
*
*/

    .card.card-engagement {
        position: relative;
        padding: 8px;

        .card-bubble {
            position: absolute;
            padding: 8px;
            top: -$bubble-size * 0.7;
            width: $bubble-size;
            height: $bubble-size;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: #fff;
            box-shadow: $bubble-box-shadow;

            &.card-bubble-left {
                left: 32px;

                .card-bubble-image {
                    opacity: 0;
                    transition: all 0.3s;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }
            }

            &.card-bubble-right {
                right: 32px;

                .card-pie {
                    width: 100%;
                    height: 100%;
                    margin: 10px auto;
                    position: relative;
                    background: white;
                    background-color: #f3f3f4;
                    -webkit-transition: width 0.5s, height 0.5s;
                    transition: width 0.5s, height 0.5s;
                    -webkit-animation: finalRota 2s 10s linear forwards;
                    animation: finalRota 2s 10s linear forwards;

                }

                .circle-progress-label {
                    opacity: 0;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: $color-label-dark;
                    font-size: 12px;
                    font-weight: lighter;
                    white-space: nowrap;
                    text-transform: uppercase;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }
            }
        }

        .card-sticker {
            position: absolute;
            color: #fff;
            border: 3px solid #fff;
            font-weight: bold;
            line-height: 16px;
            font-size: 12px;
            height: 28px;
            max-height: 28px;
            padding: 4px 8px 4px 20px;
            border-radius: 24px;
            -webkit-border-radius: 24px;
            -moz-border-radius: 24px;
            -ms-border-radius: 24px;
            -o-border-radius: 24px;

            @media screen and (max-width: $screen-lg) {
                height: 32px;
                font-size: 22px;
                max-height: 32px;
                line-height: 20px;
                padding-left: 38px;
            }


            &.card-sticker-1 {
                background-color: $color-3;
                left: 32px;
                top: 48px;

                .card-sticker-check {
                    background-color: $color-3;
                }
            }

            &.card-sticker-2 {
                background-color: $color-2;
                left: 48px;
                bottom: 80px;

                .card-sticker-check {
                    background-color: $color-2;
                }
            }

            &.card-sticker-3 {
                background-color: $color-1;
                left: 32px;
                bottom: 24px;

                .card-sticker-check {
                    background-color: $color-1;
                }
            }

            .card-sticker-check {
                position: absolute;
                left: -16px;
                top: -6px;
                width: 34px;
                height: 34px;
                text-align: center;
                color: #fff;
                border: 3px solid #fff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                @media screen and (max-width: $screen-lg) {
                    left: -16px;
                    top: -12px;
                    width: 48px;
                    height: 48px;
                    font-size: 28px;
                }

                .fa {
                    font-size: 14px;
                    vertical-align: middle;
                    line-height: 30px;

                    @media screen and (max-width: $screen-lg) {
                        font-size: 28px;
                        vertical-align: middle;
                        line-height: 42px;
                    }
                }
            }
        }

        .card-engagement-image {
            opacity: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: $card-border-radius * 0.8;
            -webkit-border-radius: $card-border-radius * 0.8;
            -moz-border-radius: $card-border-radius * 0.8;
            -ms-border-radius: $card-border-radius * 0.8;
            -o-border-radius: $card-border-radius * 0.8;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }

    }
}

.digits-section {
    display: flex;
    flex-direction: column;

    .digits-label {
        width: 100%;
        text-transform: uppercase;
        color: #111;
        text-align: center;
        font-weight: 100;
    }

    .digits {
        display: flex;
        margin: 32px auto;


        .digit {
            position: relative;
            color: #000;
            font-size: 26px;
            font-weight: 100;
            text-align: center;
            width: 28px;
            height: 36px;
            line-height: 36px;
            vertical-align: middle;
            margin: 2px;

            &.card-small {
                box-shadow: $card-box-shadow;
                background: #fff;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
            }

            &:after {
                content: ' ';
                position: absolute;
                left: 0;
                top: 50%;
                translate: transformY(-50%);
                width: 100%;
                border: 1px solid $color-background-1;
            }
        }

    }
}

/*
*
*
*   Details
*
*
*/

#details-section {
    background: $color-background-gradient-2;


    .details {

        .detail-text {
            font-size: 32px;
            font-weight: lighter;
            color: $color-label-light;
        }

        .text-section {
            font-size: 16px;
            font-weight: lighter;
            color: $color-label-light;
        }

        .video-iframe {
            min-height: 300px;
            border-radius: $card-border-radius;
            -webkit-border-radius: $card-border-radius;
            -moz-border-radius: $card-border-radius;
            -ms-border-radius: $card-border-radius;
            -o-border-radius: $card-border-radius;
        }
    }
}

/*
*
*
*   Testimonial section
*
*
*/

#testimonial-section {
    position: relative;
    background: $color-background-gradient-1;

    .testimonial-quote {
        position: absolute;
        left: 260px;
        width: 65vw;
        margin-bottom: 0;
        max-width: initial;

        @media screen and (max-width: $screen-lg) {
            position: relative;
            left: 0;
            margin-bottom: 32px;
            width: 100%;
            max-width: 500px;
        }

        @media screen and (min-width: $screen-lg) {
            max-width: initial;
        }
    }

    .testimonial-listing {
        margin-top: $testimonial-image-size - 40 - 48;
    }

}

/*
*
*
*   Team quoute section
*
*
*/

#team-quote-section {
    background: $color-background-gradient-2;
}


/*
*
*
*   Demo section
*
*
*/

#audi-demo-section,
.demo-section {
    background: $color-poms;
    color: #fff;

    h2,
    .quote-text {
        color: #fff;
    }

    /* Deprecated */
    .laptop-mock-image {
        max-width: 75%;
    }
}

/*
*
*
*   Map section
*
*
*/

#map-section {
    position: relative;
    background: $color-poms;

    #country-select {
        display: block;

        @media screen and (min-width: $screen-lg) {
            display: none;
        }
    }

    .cover {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-poms;
        transition: all 0.3s;
    }

    h2 {
        color: #fff;
    }

    .map {
        position: relative;

        .map-image {}

        .line-image {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        .contact-person {
            position: absolute;
            transition: transform 0.3s;
            transform: translate(-50%, -50%) scale(1);
            width: 64px;
            height: 64px;
            -webkit-transition: transform 0.3s;
            -moz-transition: transform 0.3s;
            -ms-transition: transform 0.3s;
            -o-transition: transform 0.3s;
            -webkit-transform: translate(-50%, -50%) scale(1);
            -moz-transform: translate(-50%, -50%) scale(1);
            -ms-transform: translate(-50%, -50%) scale(1);
            -o-transform: translate(-50%, -50%) scale(1);
            transform-origin: center;

            .contact-person-close {
                display: none;
                z-index: 1;
                position: absolute;
                opacity: 0;
                border: 4px solid #fff;
                background-color: $color-red;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                transition: all 0.3s;

                i {
                    color: #fff;
                    width: 100%;
                    text-align: center;
                    line-height: 23px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $color-red-hover;
                }

            }

            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: $color-4-dark;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                transition: opacity 0.3s;
                -webkit-transition: opacity 0.3s;
                -moz-transition: opacity 0.3s;
                -ms-transition: opacity 0.3s;
                -o-transition: opacity 0.3s;
                z-index: -1;
            }

            &:not(.opened):hover {
                transform: translate(-50%, -50%) scale(1);
                -webkit-transform: translate(-50%, -50%) scale(1);
                -moz-transform: translate(-50%, -50%) scale(1);
                -ms-transform: translate(-50%, -50%) scale(1);
                -o-transform: translate(-50%, -50%) scale(1);
                cursor: pointer;
            }

            .contact-person-image {
                background-color: $color-speedo-end;
                padding: 6px;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                -webkit-box-shadow: $box-shadow-person;
                box-shadow: $box-shadow-person;

                @media screen and (max-width: $screen-lg) {
                    .contact-person-image {
                        width: 48px !important;
                        height: 48px !important;
                    }
                }

                img {
                    position: relative;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }

            .contact-person-info {
                display: none;
                position: absolute;
                background-color: $color-4-dark;
                color: #fff;
                transition: all 0.3s;
                z-index: -1;
                white-space: nowrap;
                opacity: 0;
                -webkit-box-shadow: $box-shadow-person;
                box-shadow: $box-shadow-person;


                a {
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s;

                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;

                    &:hover {
                        color: $color-4;
                    }
                }

                &.contact-person-name {
                    left: 120px;
                    top: 24px;
                    height: 60px;
                    line-height: 60px;
                    font-size: 32px;
                    font-weight: bold;
                    vertical-align: middle;
                    padding-left: 96px;
                    padding-right: 64px;
                    text-transform: uppercase;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                }

                &.contact-person-location {
                    left: 120px;
                    top: 88px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 24px;
                    font-weight: bold;
                    vertical-align: middle;
                    padding-left: 96px;
                    padding-right: 48px;
                    border-radius: 32px;
                    -webkit-border-radius: 32px;
                    -moz-border-radius: 32px;
                    -ms-border-radius: 32px;
                    -o-border-radius: 32px;
                }

                &.contact-person-email {
                    left: 120px;
                    top: 124px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 20px;
                    font-weight: bold;
                    vertical-align: middle;
                    padding-left: 96px;
                    padding-right: 48px;
                    border-radius: 32px;
                    -webkit-border-radius: 32px;
                    -moz-border-radius: 32px;
                    -ms-border-radius: 32px;
                    -o-border-radius: 32px;
                }

                &.contact-person-phone {
                    left: 120px;
                    top: 160px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 20px;
                    font-weight: bold;
                    vertical-align: middle;
                    padding-left: 96px;
                    padding-right: 48px;
                    border-radius: 32px;
                    -webkit-border-radius: 32px;
                    -moz-border-radius: 32px;
                    -ms-border-radius: 32px;
                    -o-border-radius: 32px;
                }

            }
        }

        .contact-person.opened {
            min-width: 500px;
            height: 200px;
            z-index: 1;
            left: 50%;
            bottom: -128px;

            .contact-person-image {

                @media screen and (min-width: $screen-md) {
                    width: 200px !important;
                    height: 200px !important;
                    padding: 12px !important;
                }

                @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                    width: 160px !important;
                    height: 160px !important;
                    padding: 8px !important;
                }

                @media screen and (max-width: $screen-md) {
                    width: 120px !important;
                    height: 120px !important;
                    padding: 6px !important;
                }
            }

            .contact-person-info {
                display: block;
                opacity: 1;
                -webkit-box-shadow: $box-shadow-person;
                -moz-box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.1);
                padding-left: 96px;
                left: 120px;

                @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                    padding-left: 48px;
                    left: 120px;
                }

                @media screen and (max-width: $screen-md) {
                    padding-left: 48px;
                    left: 80px;
                }
            }

            .contact-person-name {

                @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                    font-size: 16px;
                    height: 32px;
                    line-height: 32px;
                }

                @media screen and (max-width: $screen-md) {
                    font-size: 14px;
                    height: 28px;
                    line-height: 28px;
                    top: 8px;
                }
            }

            .contact-person-location {
                @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                    font-size: 12px;
                    height: 24px;
                    line-height: 24px;
                    top: 64px - 4px;
                }

                @media screen and (max-width: $screen-md) {
                    font-size: 10px;
                    height: 20px;
                    line-height: 20px;
                    top: 64px - 8px - 12px;
                }
            }

            .contact-person-email {
                @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                    font-size: 12px;
                    height: 24px;
                    line-height: 24px;
                    top: 96px - 8px;
                }

                @media screen and (max-width: $screen-md) {
                    font-size: 10px;
                    height: 20px;
                    line-height: 20px;
                    top: 80px - 12px;
                }
            }

            .contact-person-phone {
                @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                    font-size: 12px;
                    height: 24px;
                    line-height: 24px;
                    top: 128px - 12px;
                }

                @media screen and (max-width: $screen-md) {
                    font-size: 10px;
                    height: 20px;
                    line-height: 20px;
                    top: 104px - 12px;
                }
            }

            .contact-person-close {
                display: block;
                opacity: 1;
            }

            @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
                position: absolute;
                bottom: 0px;
                width: 360px;
                min-width: 360px;
                height: 160px;
            }

            @media screen and (max-width: $screen-md) {
                min-width: 320px;
            }
        }


    }
}

/*
*
*
*   Person
*
*
*/


.person-block {
    position: relative;

    .person {
        position: relative;
        width: $testimonial-image-size;
        height: $testimonial-image-size;
        padding: 8px;
        background-color: $color-testimonial-1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: $card-box-shadow;
        z-index: 100;

        @media screen and (max-width: $screen-md) {
            width: $testimonial-image-size * 0.75;
            height: $testimonial-image-size * 0.75;
        }

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-box-shadow: $box-shadow-person;
            box-shadow: $box-shadow-person;
        }

        .person-name {
            position: absolute;
            background-color: $color-testimonial-2;
            color: #fff;
            min-width: 300px;
            height: 48px;
            left: 50%;
            padding-left: 98px;
            padding-right: 16px;
            bottom: 40px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
            text-transform: uppercase;
            z-index: -1;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: 0.8px;
            vertical-align: middle;
            white-space: nowrap;
            font-size: 20px;
            -webkit-box-shadow: $box-shadow-person;
            box-shadow: $box-shadow-person;

            @media screen and (max-width: $screen-md) {
                font-size: 16px;
                height: 32px;
                border-top-right-radius: 32px;
                border-bottom-right-radius: 32px;
                line-height: 32px;
                min-width: 120px !important;
            }
        }

        .person-profession {
            position: absolute;
            background-color: $color-testimonial-3;
            color: #fff;
            min-width: 260px;
            height: 32px;
            left: 50%;
            padding-left: 64px;
            padding-right: 8px;
            bottom: 0;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            border-bottom-left-radius: 32px;
            white-space: nowrap;
            z-index: -1;
            font-size: 16px;
            vertical-align: middle;
            line-height: 32px;
            -webkit-box-shadow: $box-shadow-person;
            box-shadow: $box-shadow-person;

            @media screen and (max-width: $screen-md) {
                font-size: 14px;
                height: 28px;
                border-top-right-radius: 28px;
                border-bottom-right-radius: 28px;
                line-height: 28px;
                min-width: 64px !important;
            }
        }
    }

    &.details-left {

        .person {
            margin-left: auto;
            background-color: $color-team-quote-1;

            .person-name {
                left: auto;
                right: 50%;
                text-align: right;
                background-color: $color-team-quote-2;
                border-top-left-radius: 48px;
                border-bottom-left-radius: 48px;
                padding-left: 24px;
                padding-right: 96px;
                min-width: 280px;
                white-space: nowrap;
            }

            .person-profession {
                left: auto;
                right: 50%;
                text-align: right;
                background-color: $color-team-quote-3;
                border-top-left-radius: 48px;
                border-bottom-left-radius: 48px;
                padding-left: 24px;
                padding-right: 64px;
                min-width: 200px;
                white-space: nowrap;
            }
        }
    }
}

/*
*
*
*   Forms
*
*
*/

.input-dark {

    input,
    select,
    label {
        color: #fff;
        border-color: #fff;
        outline: none;
    }

    button {
        outline: none;
    }

    .caret {
        display: none;
    }
}

.input-light {

    input,
    select,
    label {
        color: #000;
        border-color: #000!important;
        outline: none;
    }

    button {
        outline: none;
    }

    .caret {
        display: none;
    }
}

.try-it-yourself {
    color: $color-label-dark;
    white-space: nowrap;
    font-size: 28px;
    font-weight: lighter;
    margin-left: 16px;
}

.button-group {
    background: #fff;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    width: 100%;
    padding: 8px;
}

.input-button {
    color: #fff;
    border: none;
    padding: 12px 22px;
    background: $color-4;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    white-space: nowrap;

    &:hover {
        background-color: $color-4-dark;
    }

    &:focus {
        background-color: $color-4-dark;
    }

    &:disabled {
        background-color: $color-label-dark;
    }
}

#response {

    font-size: 22px;

    .fa-check {
        color: $color-3;
    }

    .fa-times {
        color: $color-2;
    }

}

.video-generator-box {
    max-width: 800px;
    margin: auto;

    @media screen and (max-width: $screen-xl) {

        .button-group {
            flex-direction: column;

            .input-button {
                margin-bottom: 8px;
                width: 100%;
            }
        }
    }
}

input.select-dropdown {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.input-select {

    input {
        border-color: #fff !important;
    }

    li {
        outline: none;

        span {
            font-weight: 600;
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        right: 18px;
        top: 50px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        clear: both;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}
