/* $color-poms: #53bda7; */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 48px;
  padding-bottom: 48px;
  padding-top: 64px;
  margin: 0;
}

h2 {
  text-align: center;
  font-weight: 100;
  font-size: 38px;
  padding-bottom: 48px;
  padding-top: 64px;
  margin: 0;
}

h3 {
  font-weight: 100;
  color: #929598;
  margin: 0;
}

b {
  color: #252b33;
}

.card {
  border: none;
  -webkit-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

label.label-text {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5b6066;
  margin-bottom: 8px;
}

.quote-text {
  font-weight: 100;
  font-style: italic;
  font-size: 22px;
  color: #929598;
}

p.paragraph {
  color: #5b6066;
  border-left: 4px solid #53bda7;
  border-radius: 2px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

hr {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0;
  background: radial-gradient(50% 100% at 50% 0%, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
}

hr.hr-green {
  background: radial-gradient(50% 100% at 50% 0%, #3b7a6c 0%, rgba(196, 196, 196, 0) 100%);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 48px;
}

ul li {
  font-weight: 100;
  margin-bottom: 16px;
  color: #5b6066;
}

ul .fa {
  margin-right: 8px;
  width: 26px;
  height: 26px;
  padding: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

ul .fa.color-1 {
  color: #f6af3f;
  border: 2px solid #f6af3f;
}

ul .fa.color-2 {
  color: #c13e6f;
  border: 2px solid #c13e6f;
}

ul .fa.color-3 {
  color: #53bda7;
  border: 2px solid #53bda7;
}

ul .fa.color-4 {
  color: #3d8bfa;
  border: 2px solid #3d8bfa;
}

.row {
  margin: 0;
}

.color-white {
  color: #fff;
}

/*
*
*
*   Header section
*
*
*/
#header-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(246, 246, 248, 0.548)), to(#f7f2ee));
  background: linear-gradient(0deg, rgba(246, 246, 248, 0.548) 0%, #f7f2ee 100%);
}

#header-section .header-logo img {
  height: 100%;
}

/*
*
*
*   Robot section
*
*
*/
#robot-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 248, 0.548)), to(#f7f2ee));
  background: linear-gradient(180deg, rgba(246, 246, 248, 0.548) 0%, #f7f2ee 100%);
}

#robot-section .card {
  opacity: 0;
}

.robot-header-text {
  text-align: center;
}

.robot {
  text-align: center;
  min-height: 0;
}

@media screen and (max-width: 720px) {
  .robot {
    min-height: 320px;
  }
  .robot .robot-arms {
    display: none !important;
  }
}

@media screen and (max-width: 960px) and (min-width: 720px) {
  .robot {
    min-height: 480px;
  }
}

.robot .robot-floating {
  -webkit-animation: robotFloating 1s infinite alternate;
  animation: robotFloating 1s infinite alternate;
}

@media screen and (max-width: 960px) {
  .robot .robot-floating {
    margin-top: 0;
  }
}

.robot .robot-arms {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.robot .robot-arms#robot-arms-left {
  position: absolute;
  left: -96px;
  top: -128px;
  width: 180%;
  z-index: -1;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .robot .robot-arms#robot-arms-left {
    top: 260px;
    left: 0px;
    width: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform: rotate(90deg) translateX(-50%);
    -webkit-transform: rotate(90deg) translateX(-50%);
  }
}

.robot .robot-arms#robot-arms-right {
  position: absolute;
  right: -128px;
  top: -128px;
  width: 180%;
  z-index: -1;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .robot .robot-arms#robot-arms-right {
    top: 400px;
    left: 0px;
    width: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform: rotate(90deg) translateX(-50%);
    -webkit-transform: rotate(90deg) translateX(-50%);
  }
}

.robot .robot-arms img {
  width: 100%;
}

.robot-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
}

.robot-image#robot-sleep-image {
  opacity: 0;
  top: -120px;
}

.robot-sleeping-eye {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 10px;
  z-index: 1000;
}

.robot-sleeping-eye .ellipse {
  position: absolute;
  background: radial-gradient(ellipse, transparent, transparent 7px, white 7px, white 10px, transparent 11px);
  background-size: 12px 10px;
  width: 30px;
  height: 10px;
}

.robot-sleeping-eye .ellipse2 {
  top: 20px;
  left: 18px;
  background-position: 0px -20px;
}

@-webkit-keyframes robotFloating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes robotFloating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*
*
*
*   Sliders
*
*
*/
.robot-cards {
  position: relative;
  /*
*
*
*   Engagement
*
*
*/
}

.robot-cards .card.card-sliders {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  padding: 24px;
  padding-top: 48px;
}

.robot-cards .card.card-sliders .card-brand-logo {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  opacity: 0;
  position: absolute;
  left: 20px;
  top: -24px;
  overflow: hidden;
  width: calc(100% - 36px);
  height: 48px;
  background-color: #112e43;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  text-align: center;
}

.robot-cards .card.card-sliders .card-brand-logo .card-brand-logo-image {
  transition: all 0.3s;
  opacity: 0;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.robot-cards .card.card-sliders .slider-label {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #5b6066;
  margin-bottom: 12px;
}

.robot-cards .card.card-sliders .slider {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #e8e9ea;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-bottom: 16px;
}

.robot-cards .card.card-sliders .slider .slider-process-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 32%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.robot-cards .card.card-sliders .slider .slider-process-container .slider-process {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.robot-cards .card.card-sliders .slider .slider-process-container .slider-process.slider-color-1 {
  background-color: #f6af3f;
}

.robot-cards .card.card-sliders .slider .slider-process-container .slider-process.slider-color-2 {
  background-color: #c13e6f;
}

.robot-cards .card.card-sliders .slider .slider-process-container .slider-process.slider-color-3 {
  background-color: #53bda7;
}

.robot-cards .card.card-sliders .slider .slider-indicator {
  position: absolute;
  left: 32%;
  transform: translateX(-50%);
  top: -6px;
  width: 48px;
  height: 24px;
  color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  line-height: 24px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.robot-cards .card.card-sliders .slider .slider-indicator.slider-color-1 {
  background-color: #f6af3f;
}

.robot-cards .card.card-sliders .slider .slider-indicator.slider-color-2 {
  background-color: #c13e6f;
}

.robot-cards .card.card-sliders .slider .slider-indicator.slider-color-3 {
  background-color: #53bda7;
}

.robot-cards .card.card-engagement {
  position: relative;
  padding: 8px;
}

.robot-cards .card.card-engagement .card-bubble {
  position: absolute;
  padding: 8px;
  top: -89.6px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.05);
}

.robot-cards .card.card-engagement .card-bubble.card-bubble-left {
  left: 32px;
}

.robot-cards .card.card-engagement .card-bubble.card-bubble-left .card-bubble-image {
  opacity: 0;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.robot-cards .card.card-engagement .card-bubble.card-bubble-right {
  right: 32px;
}

.robot-cards .card.card-engagement .card-bubble.card-bubble-right .card-pie {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  position: relative;
  background: white;
  background-color: #f3f3f4;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  -webkit-animation: finalRota 2s 10s linear forwards;
  animation: finalRota 2s 10s linear forwards;
}

.robot-cards .card.card-engagement .card-bubble.card-bubble-right .circle-progress-label {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #5b6066;
  font-size: 12px;
  font-weight: lighter;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.robot-cards .card.card-engagement .card-sticker {
  position: absolute;
  color: #fff;
  border: 3px solid #fff;
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
  height: 28px;
  max-height: 28px;
  padding: 4px 8px 4px 20px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

@media screen and (max-width: 960px) {
  .robot-cards .card.card-engagement .card-sticker {
    height: 32px;
    font-size: 22px;
    max-height: 32px;
    line-height: 20px;
    padding-left: 38px;
  }
}

.robot-cards .card.card-engagement .card-sticker.card-sticker-1 {
  background-color: #53bda7;
  left: 32px;
  top: 48px;
}

.robot-cards .card.card-engagement .card-sticker.card-sticker-1 .card-sticker-check {
  background-color: #53bda7;
}

.robot-cards .card.card-engagement .card-sticker.card-sticker-2 {
  background-color: #c13e6f;
  left: 48px;
  bottom: 80px;
}

.robot-cards .card.card-engagement .card-sticker.card-sticker-2 .card-sticker-check {
  background-color: #c13e6f;
}

.robot-cards .card.card-engagement .card-sticker.card-sticker-3 {
  background-color: #f6af3f;
  left: 32px;
  bottom: 24px;
}

.robot-cards .card.card-engagement .card-sticker.card-sticker-3 .card-sticker-check {
  background-color: #f6af3f;
}

.robot-cards .card.card-engagement .card-sticker .card-sticker-check {
  position: absolute;
  left: -16px;
  top: -6px;
  width: 34px;
  height: 34px;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .robot-cards .card.card-engagement .card-sticker .card-sticker-check {
    left: -16px;
    top: -12px;
    width: 48px;
    height: 48px;
    font-size: 28px;
  }
}

.robot-cards .card.card-engagement .card-sticker .card-sticker-check .fa {
  font-size: 14px;
  vertical-align: middle;
  line-height: 30px;
}

@media screen and (max-width: 960px) {
  .robot-cards .card.card-engagement .card-sticker .card-sticker-check .fa {
    font-size: 28px;
    vertical-align: middle;
    line-height: 42px;
  }
}

.robot-cards .card.card-engagement .card-engagement-image {
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.digits-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.digits-section .digits-label {
  width: 100%;
  text-transform: uppercase;
  color: #929598;
  text-align: center;
  font-weight: 100;
}

.digits-section .digits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto;
}

.digits-section .digits .digit {
  position: relative;
  color: #000;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
  width: 28px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  margin: 2px;
}

.digits-section .digits .digit.card-small {
  -webkit-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.digits-section .digits .digit:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  translate: transformY(-50%);
  width: 100%;
  border: 1px solid rgba(246, 246, 248, 0.548);
}

/*
*
*
*   Details
*
*
*/
#details-section {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(246, 246, 248, 0.548)), to(#f7f2ee));
  background: linear-gradient(0deg, rgba(246, 246, 248, 0.548) 0%, #f7f2ee 100%);
}

#details-section .details .detail-text {
  font-size: 32px;
  font-weight: lighter;
  color: #929598;
}

#details-section .details .text-section {
  font-size: 16px;
  font-weight: lighter;
  color: #929598;
}

#details-section .details .video-iframe {
  min-height: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/*
*
*
*   Testimonial section
*
*
*/
#testimonial-section {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 248, 0.548)), to(#f7f2ee));
  background: linear-gradient(180deg, rgba(246, 246, 248, 0.548) 0%, #f7f2ee 100%);
}

#testimonial-section .testimonial-quote {
  position: absolute;
  left: 260px;
  width: 65vw;
  margin-bottom: 0;
  max-width: initial;
}

@media screen and (max-width: 960px) {
  #testimonial-section .testimonial-quote {
    position: relative;
    left: 0;
    margin-bottom: 32px;
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (min-width: 960px) {
  #testimonial-section .testimonial-quote {
    max-width: initial;
  }
}

#testimonial-section .testimonial-listing {
  margin-top: 112px;
}

/*
*
*
*   Team quoute section
*
*
*/
#team-quote-section {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(246, 246, 248, 0.548)), to(#f7f2ee));
  background: linear-gradient(0deg, rgba(246, 246, 248, 0.548) 0%, #f7f2ee 100%);
}

/*
*
*
*   Demo section
*
*
*/
#demo-section {
  background: #366F62;
  color: #fff;
  /* Deprecated */
}

#demo-section h2,
#demo-section .quote-text {
  color: #fff;
}

#demo-section .laptop-mock-image {
  max-width: 75%;
}

/*
*
*
*   Map section
*
*
*/
#map-section {
  position: relative;
  background: #366F62;
}

#map-section h2 {
  color: #fff;
}

#map-section .map {
  position: relative;
  width: 100%;
}

#map-section .map .line-image {
  position: absolute;
  left: 20px;
  top: 20px;
}

#map-section .map .contact-person {
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  transform: translate(-50%, -50%) scale(1);
  width: 64px;
  height: 64px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

#map-section .map .contact-person:not(.opened):hover {
  transform: translate(-50%, -50%) scale(1.1);
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  -moz-transform: translate(-50%, -50%) scale(1.1);
  -ms-transform: translate(-50%, -50%) scale(1.1);
  -o-transform: translate(-50%, -50%) scale(1.1);
  cursor: pointer;
}

#map-section .map .contact-person .contact-person-image {
  background-color: #3d8bfa;
  padding: 6px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 960px) {
  #map-section .map .contact-person .contact-person-image .contact-person-image {
    width: 48px !important;
    height: 48px !important;
  }
}

#map-section .map .contact-person .contact-person-image img {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#map-section .map .contact-person .contact-person-info {
  display: none;
  position: absolute;
  background-color: #3271ca;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
  white-space: nowrap;
  opacity: 0;
}

#map-section .map .contact-person .contact-person-info.contact-person-name {
  left: 120px;
  top: 24px;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 96px;
  padding-right: 64px;
  text-transform: uppercase;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#map-section .map .contact-person .contact-person-info.contact-person-location {
  left: 120px;
  top: 88px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 96px;
  padding-right: 48px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

#map-section .map .contact-person .contact-person-info.contact-person-email {
  left: 120px;
  top: 124px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 96px;
  padding-right: 48px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

#map-section .map .contact-person .contact-person-info.contact-person-phone {
  left: 120px;
  top: 160px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 96px;
  padding-right: 48px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

#map-section .map .contact-person.opened {
  width: 500px;
  height: 200px;
  z-index: 1;
}

#map-section .map .contact-person.opened .contact-person-image {
  width: 200px;
  height: 200px;
  padding: 12px;
}

#map-section .map .contact-person.opened .contact-person-info {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  #map-section .map .contact-person.opened {
    position: absolute;
    bottom: 0px;
    width: 360px;
    height: 160px;
  }
  #map-section .map .contact-person.opened .contact-person-image {
    width: 160px;
    height: 160px;
    padding: 8px;
  }
  #map-section .map .contact-person.opened .contact-person-info {
    padding-left: 48px;
  }
  #map-section .map .contact-person.opened .contact-person-info.contact-person-name {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
  }
  #map-section .map .contact-person.opened .contact-person-info.contact-person-location {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    top: 60px;
  }
  #map-section .map .contact-person.opened .contact-person-info.contact-person-email {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    top: 88px;
  }
  #map-section .map .contact-person.opened .contact-person-info.contact-person-phone {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    top: 116px;
  }
}

/*
*
*
*   Person
*
*
*/
.person-block {
  position: relative;
}

.person-block .person {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 8px;
  background-color: #f6af3f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

@media screen and (max-width: 720px) {
  .person-block .person {
    width: 150px;
    height: 150px;
  }
}

.person-block .person img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.person-block .person .person-name {
  position: absolute;
  background-color: #e19e39;
  color: #fff;
  min-width: 300px;
  height: 48px;
  left: 50%;
  padding-left: 98px;
  padding-right: 16px;
  bottom: 40px;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  text-transform: uppercase;
  z-index: -1;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.8px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 20px;
}

@media screen and (max-width: 720px) {
  .person-block .person .person-name {
    font-size: 16px;
    height: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    line-height: 32px;
    min-width: 120px !important;
  }
}

.person-block .person .person-profession {
  position: absolute;
  background-color: #bc8430;
  color: #fff;
  min-width: 260px;
  height: 32px;
  left: 50%;
  padding-left: 64px;
  padding-right: 8px;
  bottom: 0;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  white-space: nowrap;
  z-index: -1;
  font-size: 16px;
  vertical-align: middle;
  line-height: 32px;
}

@media screen and (max-width: 720px) {
  .person-block .person .person-profession {
    font-size: 14px;
    height: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    line-height: 28px;
    min-width: 64px !important;
  }
}

.person-block.details-left .person {
  margin-left: auto;
  background-color: #53bda6;
}

.person-block.details-left .person .person-name {
  left: auto;
  right: 50%;
  text-align: right;
  background-color: #4baa96;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  padding-left: 24px;
  padding-right: 96px;
  min-width: 280px;
  white-space: nowrap;
}

.person-block.details-left .person .person-profession {
  left: auto;
  right: 50%;
  text-align: right;
  background-color: #3d8e7c;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  padding-left: 24px;
  padding-right: 64px;
  min-width: 200px;
  white-space: nowrap;
}

/*
*
*
*   Forms
*
*
*/
.input-dark input,
.input-dark select,
.input-dark label {
  color: #fff;
  border-color: #fff;
  outline: none;
}

.input-dark button {
  outline: none;
}

.input-dark .caret {
  display: none;
}

.try-it-yourself {
  color: #5b6066;
  white-space: nowrap;
  font-size: 28px;
  font-weight: lighter;
  margin-left: 16px;
}

.button-group {
  background: #fff;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  width: 100%;
  padding: 8px;
}

.input-button {
  color: #fff;
  border: none;
  padding: 12px 22px;
  background: #3d8bfa;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  white-space: nowrap;
}

.input-button:hover {
  background-color: #3271ca;
}

.input-button:focus {
  background-color: #3271ca;
}

.input-button:disabled {
  background-color: #5b6066;
}

#response {
  font-size: 22px;
}

#response .fa-check {
  color: #53bda7;
}

#response .fa-times {
  color: #c13e6f;
}

.video-generator-box {
  max-width: 800px;
  margin: auto;
}

@media screen and (max-width: 1140px) {
  .video-generator-box .button-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-generator-box .button-group .input-button {
    margin-bottom: 8px;
    width: 100%;
  }
}

.input-select input {
  border-color: #fff !important;
}

.input-select li {
  outline: none;
}

.input-select li span {
  font-weight: 600;
}

.input-select:after {
  content: ' ';
  position: absolute;
  right: 18px;
  top: 50px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  clear: both;
}
/*# sourceMappingURL=style.css.map */